
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


h2{
    color: #210070;
}



#search{
    background-color: cyan;
    border-radius: 10px;
    font-family: "poppins";
    padding: 10px 30px;
    font-weight: 400;
    box-shadow: 0 0 5px cyan,0 0 25px cyan;
}
#search:hover {
    box-shadow: 0 0 5px cyan,0 0 25px cyan,0 0 50px cyan,0 0 100px cyan,0 0 200px cyan;
}